/*-------------- Crearemos los diseños de la pagina inicial -----------------------*/
h1{
    padding-top: 1%;
    font-size: 45px;
}
.imagen{
    text-align: center;
    padding: 3% 3% 0 0 ;

    /*top */
}
.logo{
    border-radius: 50%;
}
.pec{
    color: #3d3d3d;
}